.form {
    display: grid;
    justify-content: center;
    position: absolute;
    align-items: center;
    text-align: center;
    margin-left: 39%;
    margin-top: 5%;
    padding: 60px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: white;

}



.studentName {
    margin-top: 10px;
}

.fatherName {
    margin-top: 3%;
}

.rollno {
    margin-top: 3%;
}

.father-1 {
    margin-top: 3%;
}

.roll-no {
    margin-top: 3%;
}

.week-1 {
    margin-top: 10px;
}

.weekend-1 {
    margin-top: 10px;
}


.course-1 {
    margin-top: 10px;
}

.select {
    margin-top: 10px;
    width: 90px;
    margin-left: 40px;

}

.submit-btn {
    margin-top: 10px;
    width: 90px;
    margin-left: 40px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    padding: 10px 10px;
    background-color: #42b72a;
    color: #ffff;
    text-decoration: none;
   font-weight: bold;
}